@import '../../styles/variable.scss';

.Carousel {
  overflow: hidden;
  height: 50vw;
  width: 600vw;

  .carousel-container {
    width: 100vw;
    height: 80vw;
    display: flex;

    .main-pic {
      width: 100%;
      transform: translate(0, -150px);
    }
  }

  .animation {
    transition: all ease 0.5s;
  }
}
