//칼라

$white-color: #FFFFFF;
$black-color: #030303;
$grey-light-color: #FAFAFA;
$grey-color: #EAEAEA;
$grey-dark-color: #909090;
$red-color: #EE4955;
$green-light-color: #D6E6D0;
$green-dark-color: #003628;
$beige-color: #D5AC78;

//사이즈

$padding: 12px;

//폰트사이즈

$font-large: 48px;
$font-medium: 22px;
$font-small: 18px;
$font-micro: 13px;
@mixin flexSort($justify, $alignItems) {
 display: flex;
 justify-content: $justify;
 align-items: $alignItems;
}