@import '../../styles/variable.scss';

.ProductDetail {
  @include flexSort(center, center);
  padding: calc($padding * 3);
  margin-top: 60px;
  background-color: $green-light-color;

  .product {
    padding: calc($padding * 2);
    width: 1120px;
    background-color: $white-color;

    &-nav {
      margin-bottom: $padding;

      select {
        border-style: none;
        outline: none;
      }
    }

    &-item {
      display: flex;

      &-img-container {
        height: 500px;
        min-width: 500px;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      &-info {
        padding: 0 calc($padding * 4);

        h1,
        h2 {
          margin-bottom: calc($padding/2);
          color: $green-dark-color;
          font-weight: bold;
        }

        button,
        input {
          border-style: none;
        }

        &-title {
          margin-bottom: calc($padding * 2);
          color: $green-dark-color;
          font-size: $font-medium;
        }

        p {
          margin-bottom: calc($padding * 2);
          padding: calc($padding * 2) 0;
          border-bottom: 1px solid $grey-color;
          color: $grey-dark-color;
          font-size: calc($font-micro + 2px);
        }

        &-ship {
          margin-bottom: calc($padding * 3);
          font-size: $font-micro;
          color: $grey-dark-color;

          li {
            margin-right: $padding;
          }
        }

        &-buttons {
          display: flex;
          margin: calc($padding * 2) 0;

          input {
            margin-right: calc($padding/2);
            padding: $padding calc($padding * 7);
            min-width: 215px;
            background-color: $green-dark-color;
            color: $white-color;
            border-radius: 3px;
          }

          button {
            background-color: $white-color;
            border: 1px solid $green-dark-color;
            border-radius: 3px;

            i {
              font-size: $font-small;
            }
          }
        }
      }
    }
  }
}
