@import '../../styles/variable.scss';

.Login {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;

  .login-box {
    width: 500px;
    height: 604px;
    padding: 30px;
    background-color: $white-color;
    text-align: center;
    z-index: 10001;

    .close-btn {
      display: flex;
      justify-content: flex-end;

      button {
        width: 30px;
        height: 30px;
        margin-bottom: 20px;
        border-radius: 50%;
        font-size: 20px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    h1 {
      margin-bottom: 20px;
      font-size: 40px;
      font-weight: 800;
      color: blue;
    }

    p {
      margin-bottom: 20px;
      font-size: 20px;
    }

    form {
      width: 100%;

      .input-container {
        width: 100%;
        height: 250px;

        input {
          width: 80%;
          margin-bottom: 20px;
          padding: 5px;
          border-radius: 5px;
        }
      }

      button {
        width: 200px;
        margin-bottom: 20px;
        padding: 10px;
      }
    }

    .change-input-type {
      color: blue;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

// @media screen and (max-width: 700px) {
//   .Login {
//     width: 700px;
//   }
// }
